<%= stylesheet_link_tag('new') %>

<div class = "container d-flex justify-content-center align-items-center">
	<div class = "row d-flex justify-content-center align-items-center border rounder-5 p-5 bg-white shadow  box-area inside_container">	
		<p class="	">Create User</p>
		<%= form_for @user do |f| %>
			<%= render partial: "form", locals: { f: f } %>
			<div class = "form-group m-3" >
				<%= f.label :password %>
				<%= f.password_field :password ,class: "form-control my-3" %>
			</div>

      <div class = "form-group m-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control my-3" %>
      </div>

			<div class = "check_box_div">
				<% @roles.each do |role| %>
					<% if role.role_name == "Admin" %>
						<% next%>
					<% else %>
						<%= f.check_box :roles, { multiple: true }, role.id, nil %>
						<%= role.role_name %>
					<% end %>
				<% end %>
			</div>
		
			<div class = "d-flex justify-content-center ms-2">
				<%= f.submit 'Create User', class: 'create_user_btn btn btn-success mt-5 ms-3' %>
			</div>
		<% end %>

	</div>

</div>