<%= stylesheet_link_tag('index') %>

<div class = "container d-inline-flex justify-content-center align-items-center flex-column">
	<p class="h2 text-center mb-3">Roles List</p>
	<%= link_to 'Create Role', new_role_path, class: "btn btn-success mb-3" %>

	<div class = "table_div">
		<table class="table table-hover text-center">
			<thead class = "table-secondary">
				<tr>
					<th class = "p-3" >Role Name</th>
					<th class = "p-3" >Description</th>
					<th class = "p-3" colspan = "3">Actions</th>
				</tr>
			</thead>
			<tbody class = "table-light text-center" >
				<% @roles.each do |role|%>
					<tr>
						<td class = "p-3" ><%= role.role_name %></td>
						<td class = "p-3"><%= role.description %></td>
            <td><%= link_to "Details", role_path(role), class: "btn btn-dark" %></td>
            <td><%= link_to "Edit", edit_role_path(role), class: "btn btn-secondary" %></td>
            <td><%= link_to "Delete",role_path(role), data: {turbo_method: :delete, turbo_confirm: "Are you confirm to delete"}, class: "btn btn-danger" %></td>
					</tr>
				<% end%>
			</tbody>
		</table>
	</div>
</div>